<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.user_name %></h1>
    <p>
			Don't forget to fill out your survey!
    </p>
    <p>
     To fill out your survey, click here: <i>Link goes here</i>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>