<div class="container-fluid">
<div class="page-wrap">

	<!-======= HEADER ========->
	<div class="row-fluid header">
		<div class="span6 offset1 header-element">
			<h1 id="header-logo">Relation Capital</h1>
		</div>
		
		<!-======= LOGIN ========->
		<%= form_for(User.new) do |f| %>
		<div class="span5 header-element">
		
			<div class="row-fluid">
				<div class="span5 sign-in-header-element">
					<p>Login</p>
					<p><%= f.text_field(:email) %></p>
				</div>
		
				<div class="span5 sign-in-header-element">
					<p>password</p>
					<p><%= f.text_field(:password) %></p>
				</div>
				<div class="span1 sign-in-header-element">
					<br>
					<p><%= f.submit(:enter, :class => "btn btn-inverse sign-in-button-header") %></p>
				</div>
			</div>
		</div>
		<!-======= END LOGIN ========->
		<% end %>
	</div>
	
	<!-======= END HEADER ========->
	
	<!-======= BODY ========->
	
	<div class="row-fluid body-content">
		<div class="span5 offset1">
			<h3>Start Building Your Relationship Capital <i>Today!</i></h3>
		</div>
		
		<div class="offset1 span5" style="height:100%;">
			<div class="well landing-picture">
				<p><center>Picture of some sort</center></p>
			</div>
		</div>
	</div>
	<!-======= END BODY ========->
	
	<!-======= FOOTER ========->
	<div class="row-fluid footer">
	<center><p>footer here</p></center>
	</div>
	<!-======= END FOOTER ========->
</div>
</div>