<div class="main-content container">
	<h1>Survey for <%= @commitment.name %></h1>
	<h4>Completed by <%= @reviewee.user_name %></h4>
	<table>
		<tr>
			<td>Question 1:</td>
			<td>The text for question one goes here huh?</td>
			<td>
				<select>
					<option value=1>very good</option>
					<option value=3>just good</option>
					<option value=5>baaad</option>
				</select>
			</td>
		</tr>
		<tr>
		<td>Question 2:</td>
			<td>The text for question one goes here huh?</td>
			<td>
				<select>
					<option value=1>very good</option>
					<option value=3>just good</option>
					<option value=5>baaad</option>
				</select>
			</td>
		</tr>
		<tr>
		<td>Question 3:</td>
			<td>The text for question one goes here huh?</td>
			<td>
				<select>
					<option value=1>very good</option>
					<option value=3>just good</option>
					<option value=5>baaad</option>
				</select>
			</td>
		</tr>
	</table>
	
</div>