html,
body {
	height: 100%; 
	background-image:url("background.png");
	/* The html and body elements cannot have any padding or margin. */
}

hr{
}

.main-content{
	margin-top: 80px;
}

.highlight-text{
	text-shadow: 1px 1px 1px #888;
	font-weight:bold;
	font-size:1.1em;
}

.highlight-header{
	color:#134500;
	text-shadow: 1px 1px 1px #289300;
}

.highlight-header2{
	text-shadow: 1px 1px 1px #888;	
	font-weight:bold;
	
}

.highlight-header span a{
	font-weight:lighter;
	color:#aaa;
}

.header-text-complement{
	margin:0px;
	padding:0px;
	line-height:40%;
	font-style:italic;
}

.highlight-header span a:hover,
.highlight-header span a:focus{
	font-weight:bold;
	color:#777;
	text-decoration:none;
}

.highlight-header span{
	font-size:.8em;
	color:#777;
	text-shadow: 0 0 0 #289300;
}

.highlight{
	color:#AC4200;
	font-size:1.1em;
	font-weight:bold;
}

.hero-unit{
	background-color:rgba(238,238,238,0.6)
}

.well{
	background-color:rgba(238,238,238,0.6)
}

.navbar, 
.navbar-inverse, 
.navbar-fixed-top{
	margin:0px;
}

.rc-details-container ul{
	list-style:none;
}

.rc-details-container ul li{
	font-size:.9em;
}

.rc-details-container ul li img{
	margin-right:10px;
}


.rcScoreElement{
	text-align:center;
}

#rcScore{
	color:#AC4200;
}

.nav-image:hover{
	box-shadow: 2px 2px 2px #333;
}

.nav-links-auth{
	color:#EEE;
	margin-top:15px;
	text-shadow: 1px 1px 2px #333;
}

.navbar{
	box-shadow: 5px 5px 5px #333;
}

#graph-body{
    min-height: 840px;
}

#graph-body .well {
    min-height: 840px;
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #333;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
